@media (max-width: 721px) {

    body {
        height: 70vh;
    }

    nav {
        height: 2.8rem;
    }

    .container {
        width: 50%;
    }

    footer p {
        font-size: 1.5vmax;
    }
}