* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    height: 5vmax;
    width: 100%;
    background: linear-gradient(to right, #344dba, #764ba2);
    padding-top: 12px;
    position: fixed;
    top: 0;
    z-index: 20;
    text-align: center;
}

nav #logo-img {
    width: 6vmax;
}

.container {
    margin-top: 3vmax;
    height: auto;
    width: 23%;
    background-color: rgb(14, 169, 184);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1.5vmax;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.332);
    gap: 1vmax;
}

.top input {
    height: 3.5vmax;
    width: 95%;
    padding: 1vmax ;
    text-align: right;
    font-size: 2.2vmax;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    outline: none;
}

input:focus {
    border: 3px solid #115790;
    box-shadow: 0 2px 2px 2px #2196f3;
}

button {
    font-size: 1.5vmax;
    padding: 0.5vmax 1vmax;
    border-radius: 50px;
    border: 1px solid black;
    font-weight: 600;
}

.top {
    height: auto;
    width: 95%;
    display: flex;
    justify-content: center;
}


.bottom {
    height: auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* text-align: center; */
    gap: 0.9vmax;
}

.bottom #top-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.bottom #bottom-rows {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1vmax;
}

#row {
    height: 20%;
    width: 90%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
}

.operator {
    background-color: orange;
}

.value {
    background-color: rgb(246, 240, 240);
}

#function {
    background-color: rgb(232, 90, 7);
}



footer {
    margin-top: 1.5rem;
    font-size: 0.875rem;
    text-align: center;
    color: #4b5563;
}

footer p a {
    text-decoration: none;
    color: #2563eb;
}

footer p a:hover {
    text-decoration: underline;
    text-decoration: underline;
}